:root {
    --light-text-color: #000;
    /* Default light mode text color */
    --light-background-color: #d6af8b;
    /* Default light mode background color */

    --dark-text-color: #000;
    /* Default dark mode text color */
    --dark-background-color: #b0966b;
    /* Default dark mode background color */
}





@media(prefers-color-scheme: dark) {
    #root, html, .sidebar, .footer, .search-box, .loader-overlay {
        background: var(--dark-background-color);
        color: var(--dark-text-color);


    }
}

@media(prefers-color-scheme: light) {
    #root, html, .sidebar, .footer, .search-box, .loader-overlay {
        background: var(--light-background-color);
        color: var(--light-text-color);
    }
}

.glass {
  /* position: relative; */
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px) saturate(150%);
  /* border: 1px solid rgba(255, 255, 255, 0.8); */
  /* border-radius: 2rem; */
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
              inset 0 4px 20px rgba(255, 255, 255, 0.3);
}

.glass::after {
  content: '';
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(255, 255, 255, 0.1); */
  /* border-radius: 2rem; */
  backdrop-filter: blur(1px);
  /* box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1), */
              inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
  /* opacity: 0.6; */
  z-index: -1;
  /* filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%); */
}